*{
  box-sizing: border-box;
}

.clearfix {
  overflow: auto;
}
body{
  margin: 0;
line-height: 1.8;
-webkit-font-smoothing: antialiased;
font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.header{
  background-color: #00bcd4;
text-align: center;
padding-top: 80px;
padding-bottom: 25px;
margin-bottom: 20px;

}
.tee {
  font-size: 2em;
color: #fff;
margin-bottom: 15px;
line-height: 1.1;
}
.wrapper{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
p{
  color:#555
}
h1{

}
.foor{
  height: 400px;
  background-color: #212121;
  color:#fff;
  text-align: center;
}
.footp{
  display:block;
  color: #fff;

}
